*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
i{
    padding: 1px;
    margin: 1px;
}
h3{
    color: white;
    background-color: salmon;
}
.img-logo{
 
    width: 80px;
    border-radius: 40%;
}
.contenedor{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;

}
    header{
       
        display: flex;
        flex-flow: column nowrap;
        background: url(./header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        
        height: 400px;
        
        
    }

        .menu{
            
            display: flex;
            flex-flow: row nowrap;
            height: 130px;    
            
        }
            .logo{
                animation: moverIzquierda 2s ease-in;
                align-items: center;
                border-radius: 3px;
                flex: 1 1 auto;
            }
            .nav{
                animation: moverAbajo 2s ease-in; 
                border-radius: 3px;
                flex: 6 1 auto;
                padding: 10px;   
                display: flex;             
                justify-content:space-around;
                flex-direction: row;
                
            }
                .nav-a{
                    border-radius: 3px;
                    display: inline-block;
                   align-items: center;
                    text-decoration: none;
                    padding: 0px;
                    margin: 0px;
                    width: auto;
                    height: 30px;
                    
                }
                .nav-a:hover{
                    background-color: antiquewhite;
                    transition: background-color 2s ;
                 
                }
                
            .social{
                animation: moverDerecha 2s ease-in;

                border-radius: 3px;
                flex: 1 1 auto;

            }
        .texto-principal{
           
            text-align: center;
        }    
            h1{
                animation: moverArriba 2s ease-in; 
                opacity: 0.5;
               color: orange;
               
            }

    .seccion{     
        display: flex; 
        
    }
        .articulos{
            background-color: #c7c7ffdf;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            article{  
                background-color: white;
                flex: 1 1 40%;
            }
                .img-articulo{
                    width: 100%;
                    
                }
            .navegacion{
                padding: 0px;
                margin: 0px;
                text-align: center;
                background-color: #c7c7ffdf;
                flex: 1 1 100%;
                
            }
    .aside{
        background-color: #c7c7ffdf;
        flex: 1 1 auto;

    }    
        .publicidad{
            text-align: center;
        }
    .pie-De-Pagina{
        background-color: #c7c7ffdf;
        text-align: center;
    }
        .pie{
            background-color: aliceblue;       
        }


@media (min-width:280px) and (max-width:575.98px){
    .contenedor{
        width: auto;
        display: flex;
        flex-flow: column nowrap;
        max-width: 550px;
    }
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .nav{
        flex-direction: column;
        height: auto;

    }
    .navegacion{
        width: auto;
    }
}
@media (min-width: 576px) and (max-width:767.98px) { 
    .header{
        flex-direction: column;
        width: 100%;
    }
    .nav{
        flex-direction: column;

    }
}
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform:translateX(-100px)
    }
    100%{
        opacity: 1;
        transform:translate(0)
        
        
    }
}
@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform:translateX(+100px)
    }
    100%{
        opacity: 1;
        transform:translate(0)
        
        
    }
}
@keyframes moverArriba{
    0%{
        opacity: 0;
        transform:translateY(+100px)
    }
    100%{
        opacity: 1;
        transform:translate(0)
        
        
    }
}
@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform:translateY(-100px)
    }
    100%{
        opacity: 1;
        transform:translate(0)
    }
}
